@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container{
    position: relative;
    display: flex;
    /* gap: .2rem; */
    flex-direction: column;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 35rem;
    overflow: hidden;
    border-radius: 2rem;
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
}

.container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.textContainer{
    padding: 2rem;
}

.textContainer h3,
.textContainer p {
    position: relative;
    z-index: 2;
    line-height: 2.4rem;
}
.textContainer>h3{
    font-size: 2.4em;
    margin-bottom: 1rem;
}
.textContainer>p{
    font-size: 1.8em;
}

.container img{
    width: 100%;
    aspect-ratio: 1.5;
    display: block;
    position: relative;
    z-index: 2;
}


@media (max-width: 480px){
    .container{
        width: 100%;
    }
}