.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0;
    background-color: #1e225b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
    color: whitesmoke;   
}

.policies{
    font-size: 1.4rem;
    color: #444;
    text-align: center;
    margin: 2rem;
}
