.btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px){
    .btn{
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
    }
}