.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 1rem;
}

@media (max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }
}