@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    font-size: 1.6rem;
    /* height: 8rem; */
    padding: .5rem 0;
    color: #0A2540;
    background-color: whitesmoke;
}
.logo{
  font-family: "Pacifico", cursive;
  margin-left: 5rem;  
}

.menuBtn{
  display: none;
  background: none;
  fill: black;
  border: none;
  cursor: pointer; 
}

.logoLink{
  text-decoration: none;
  color: #0A2540;  
}

.nav {
    display: flex;
    gap: 2.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav>*{
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: #0A2540;
}

.contact>*{
    text-decoration: none;
    color: #0A2540;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border: .3rem solid #0A2540;
    padding: .5rem 1rem;
    border-radius: 3rem;
    font-weight: 700;
}

.cross{
  display: none;
  position: absolute;
  right: 2rem; top: 1rem;
  font-size: 4rem;
}

@media (max-width: 767px){
  .header{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .mainLogo{
    display: flex;
    gap: 1rem;
  }
  .logo{
    margin: 0;
    font-size: 2rem;
  }
  .menuBtn{
    display: block;
    padding: .1rem .3rem;
    border-radius: .2rem;
    /* background-color: #0A2540; */
  }

  .nav{
    display: none;
  }
  
  .nav>*{
    color: black;
  }

  .phone{
    display: none;
  }

  .cross{
    display: block;
  }

  .open{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: whitesmoke;
    padding: 5rem 3rem;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .header{
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 1rem;
  }
  .logo{
    margin: 0;
    font-size: 1.2rem;
  }
  .menuBtn{
    display: block;
    padding: .1rem .3rem;
    border-radius: .2rem;
  }

  .nav{
    display: none;
  }

  .phone{
    text-align: right;
  }

  .cross{
    display: block;
  }

  .open{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: whitesmoke;
    padding: 5rem 3rem;
    height: 100%;
    width: 80%;
    top: 0;
    right: 0;
  }
}

