@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5rem;
    margin: 5rem;
}

@media (max-width: 480px) {
    .cards{
        grid-template-columns: 1fr;
        margin: 2rem;
    }
}