.jobFilterContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 15rem;    
}

.jobFilterHeader{
    font-size: 2.4rem;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

.jobFilter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.jobFilter > *{
    padding: 1.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: .1rem solid #777;
}

.note{
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    color: #333;
}


@media (max-width: 480px) {
    .jobFilterContainer{
        margin: 2rem;
        border: .2rem solid #ccc;
        border-radius: 1rem;
        width: auto;
        padding: 1rem 2rem; 
    }

    .jobFilter{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        align-items: center;
        /* height: 100%; */
       
        gap: 2rem;
        padding: 1rem 2rem;    
    }

    .jobFilter > *{
        padding: 1.5rem;
        font-size: 1.4rem;
        border-radius: .5rem;
        border: .1rem solid #777;
    }
}