.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.specializationBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.specializationBox:hover {
  transform: translateY(-6px);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  aspect-ratio: 1;
  padding: 2rem;
  border: .35rem solid #016a9d;
  border-radius: 50%;
}

.iconContainer:hover{
  border-color: #1A2A80;
}

.iconContainer img {
  width: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.specializationBox:hover .iconContainer img {
  transform: scale(1.1);
}

.specializationBox > p{
  font-size: 1.8rem;
  color: #0f1b2d;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

