.container{
    height: 70vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}