.container{
    width: 33rem;
}
.title{
    font-size: 1.6rem;
    margin-bottom: 5rem;
    border-bottom: .2rem solid yellow;
    width: 12rem;
    padding-bottom: .5rem;
}

@media (max-width: 767px){
    .container{
        width: 100%;
    }
}